[submodule "themes/guru"]
	path = themes/guru
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "public"]
	path = public
	url = git@github.com:aliciagilmatute/aliciagilmatute.github.io.git
[submodule "hugo-pdf"]
	path = themes/hugo-pdf
	url = https://github.com/sytranvn/hugo-pdf.git
